/* body {
    background-color: #9c5322;
    font-size: 14px;
    margin-bottom: .4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } */

  /*HEADER*/
.logo {
  display: flex;
  align-items: flex-start;
  height: 20em;
}

a {
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin: 3em;
  padding: 1em;
    color: rgb(153, 87, 56);
    font-size: 15px;
}

/* MAIN BODY */
.bulk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  /* margin-bottom: 3%; */
  /* width: 100%; */
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 1em;
}

.accountform{
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

button[type=submit] {
    height: 40px;
    width: 80px;
    border: 2px solid #FFBD4A;
    margin-top: 15px;
}
input[type=text] {
  border: 2px solid #FFBD4A;
  width: 200px;
  height: 50px;
}
input[type=password] {
  border: 2px solid #FFBD4A;
  width: 200px;
  height: 50px;
}
.reg-log{
    color: black;
}


/*FOOTER*/

/* .copyright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 14px;
}

.socials{
  height: 8em;
} */