body {
    background-color: solid white;
    font-size: 14px;
    margin-bottom: .4px;
    font-family: 'Spectral', serif;
  }

/*HEADER*/
.logo {
  display: flex;
  align-items: flex-start;
  height: 20em;
}

nav.navLinks {
  display: flex;
  justify-content: center;
}

a {
  padding: 1em;
  color: rgb(153, 87, 56);
  font-size: 23px;
}

hr {
  background-color: rgb(204, 149, 123);
  height: 1em;
}

/* MAIN BODY */

  /* HOME */
    .homePage {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      align-items: center;
      color: #5B3D29;
      height: 110%;
      }

  h2[type=homeText] {
    font-family: 'PT Sans Narrow', sans-serif;
  }

  .homePhoto {
    display: flex;
    align-items: flex-start;
    height: 60em;
  }

  .productsHomeLink {
    padding: 1em;
    color: rgb(153, 87, 56);
    font-size: 20px;
  }

  .loginHomeLink {
    padding: 1em;
    color: rgb(153, 87, 56);
    font-size: 20px;
  }

  .homepageHR {
    background-color: rgb(204, 149, 123);
    height: .5em;
    width: 100%;
  }

  /* MAIN */
.bulk {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-items: center;
  color: #5B3D29;
  width: 100%;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 1em;
}

.accountform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    height: 40em;
}

button[type=submit] {
    height: 35px;
    width: 100px;
    border: 2px solid #5B3D29;
    background-color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 15px;
}

input[type=text] {
  border: 2px solid #5B3D29;
  width: 200px;
  height: 50px;
  font-family: 'Work Sans', sans-serif;
}

input[type=password] {
  border: 2px solid #5B3D29;
  width: 200px;
  height: 50px;
  font-family: 'Work Sans', sans-serif;
}

.reg-log{
    color: black;
}

/* CART */
button[type=addToCart] {
  border: 2px solid rgb(153, 87, 56);
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  width: 100px;
  height: 35px;
  margin-top: 15px;
}

/* button {
  color: solid white;
  background-color: #5B3D29;
} */


/*FOOTER*/
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'Overpass Mono', monospace;
  color: #5B3D29;
  font-size: 14px;
}

.socials{
  height: 3em;
}